<header class="p-3 bg-light">
        <div class="container-fluid d-flex justify-content-between">
            <a href="{{ path('home') }}" class="d-flex text-decoration-none">
                <div class="d-flex align-items-center">
                    <div class="logo-header me-2">
                        <img src="https://www.freepnglogos.com/uploads/png-50-px-png-svg-eps-pdf-approximate-size-we-21.png" width="50px" height="auto">
                    </div>
                    <h1>Handgames</h1>
                </div>

            </a>
            
            <div class="login-signup-div">
                <a href="#popup-login" class="bouton-login bouton">Login</a>
                <a href="#popup-signup" class="bouton-signup bouton">Signup</a>
            </div>

            <div id="popup-login" class="overlay">
                <div class="popup popup-login-size">
                    <h2>Welcome</h2>
                    <a class="close" href="{{ currentPage() }}">&times;</a>
                    <hr class="bg-dark border-2 border-top border-dark mb-3">
                    <div>
                        {{ loginFormRender()|raw }}
                    </div>
                </div>
            </div>

            <div id="popup-signup" class="overlay">
                <div class="popup">
                    <h2>Signup</h2>
                    <a class="close" href="{{ currentPage() }}">&times;</a>
                    <div class="desc-longue">
                        <p>pop
                        </p>
                    </div>
                </div>
            </div>
            

            <div class="dropdown">
                <a class="burger text-decoration-none" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
                    <svg 
                        aria-hidden="true" 
                        focusable="false" 
                        data-prefix="fas" data-icon="bars" 
                        class="svg-inline--fa fa-bars fa-w-14" role="img" 
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path>
                    </svg>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Login</a></li>
                    <li><a class="dropdown-item" href="#">Signup</a></li>
                </ul>
            </div>
        </div>
</header>
