<header class="p-3 bg-light">
        <div class="container-fluid d-flex justify-content-between">
            {# <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0">

                    <div class="logo-header">
                        <img src="https://www.freepnglogos.com/uploads/png-50-px-png-svg-eps-pdf-approximate-size-we-21.png" width="50px" height="auto">
                    </div>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="https://127.0.0.1:8000/" class="nav-link px-2 text-secondary"><h1>Handgames</h1></a></li>
                </ul>

                <div class="text-end d-flex align-items-center">
                    <a href="#" class="bouton-login me-3">Login</a>
                    <a href="#" class="bouton-signup">Signup</a>
                </div>
            </div> #}
            <a href="https://127.0.0.1:8000/" class="d-flex text-decoration-none">
                <div class="d-flex align-items-center">
                    <div class="logo-header me-2">
                        <img src="https://www.freepnglogos.com/uploads/png-50-px-png-svg-eps-pdf-approximate-size-we-21.png" width="50px" height="auto">
                    </div>
                    <h1>Handgames</h1>
                </div>

            </a>
            <div class="login-signup-div">
                <a href="#" class="bouton-login bouton">Login</a>
                <a href="#" class="bouton-signup bouton">Signup</a>
            </div>
            {# <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown button
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div> #}
        </div>
</header>
