{% block header %}
    <header class="p-3 text-white bg-light">
        <div class="container-fluid">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <div class="logo-header">
                        <img src="https://www.freepnglogos.com/uploads/png-50-px-png-svg-eps-pdf-approximate-size-we-21.png" width="50px" height="auto">
                    </div>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="#" class="nav-link px-2 text-secondary"><h1>Handgames</h1></a></li>
                </ul>

                <div class="text-end d-flex align-items-center">
                    <a href="#" class="bouton-login me-3">Login</a>
                    <a href="#" class="bouton-signup">Signup</a>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
