.level-stats {
  text-align: center;
  font-weight: bold;
  font-size: x-large;
}
.stats-center {
  margin-bottom: 0px;
}
.title-trophee {
  color: black;
  font-weight: bold;
  flex-direction: column;
}

.titre-trophee {
  font-weight: bold;
  font-size:1.2rem;
}
.card-text {
  font-weight: normal;

}

.customLogoError{
  background-color: var(--bs-red);
  border-radius: 3px;
  color: white;
  margin-right: 0.5rem;
  font-size: 12px;
  margin-bottom: 5px;
  padding: 0 5px;
}

.customTextError{
  color: var(--bs-red);
  margin-bottom: 5px;
  font-size: 12px;
}

.game-pseudo,.game-pseudo2,.levelBot,.levelPlayerOne {
  font-weight: bold;
  font-size: 18px;
  margin-bottom:0;
}

.levelPlayerOne,.game-pseudo{
  color: blue;
}

.game-pseudo2,.levelBot {
  color: red;
}