.level-stats {
  text-align: center;
  font-weight: bold;
  font-size: x-large;
}
.stats-center {
  margin-bottom: 0px;
}
.title-trophee {
  color: black;
  font-weight: bold;
  flex-direction: column;
}

.titre-trophee {
  font-weight: bold;
  font-size:1.2rem;
}
.card-text {
  font-weight: normal;

}