{% extends 'base.html.twig' %}

{% block title %}Handgames{% endblock %}

{% block body %}
    <h2>Handgames, all kinds of hand games.</h2>

    <section>
        <div>
            <h3>
                You can find on our website many games based playable with hands.
            </h3>

            <p>
                Be the best, the very best !
            </p>
        </div>

        <div>
            <h3>
                Challenge a friend !
            </h3>

            <p>
                A disagreement with a friend ? Settle it here !
            </p>
        </div>
    </section>

{% endblock %}
