{% extends 'base.html.twig' %}

{% block title %}Handgames{% endblock %}

{% block body %}
    <div class="titleHome mb-5">
        <h2>Handgames, all kinds of hand games</h2>
    </div>

    <div class="img-center mb-5">
        <img src="https://www.nicepng.com/png/full/75-759214_summer-fun-competition-up-to-of-student-winner.png">
    </div>

    <hr class="bg-dark border-2 border-top border-dark mb-5">

    <section class="quinconce-section mb-5">
        <div class="me-4 quinconce-div-left quinconce-div">
            <h3 class="mb-3">
                Find worthy opponents !
            </h3>

            <p>
                Be the best, the very best !
            </p>
        </div>

        <div class="quinconce-div-right quinconce-div">
            <h3 class="mb-3">
                Challenge a friend !
            </h3>

            <p>
                A disagreement with a friend ? Settle it here !
            </p>
        </div>
    </section>

    <section>
        <div class="div-Techno">
            <h2 class="titleHome mb-4">Technologies used</h2>

            <div class="widthTechno">
                <p>
                    For this project we used mainly Symfony as our base. We also worked with HTML/CSS obviously and sometimes bootstrap. Javascript is also present in this website.
                    Stay tuned for our new projects, you can find our socials networks down below.
                </p>
            </div>

        </div>
    </section>

{% endblock %}
