{% extends 'base.html.twig' %}

{% block title %}Handgames{% endblock %}

{% block body %}
    <div class="titleHome mb-5">
        <h2>Handgames, all kinds of hand games</h2>
    </div>

    <div class="img-center">
        <img src="https://www.nicepng.com/png/full/75-759214_summer-fun-competition-up-to-of-student-winner.png">
    </div>

    <section class="quinconce-section">
        <div class="me-4 quinconce-div-left quinconce-div">
            <h3>
                Find worthy opponents !
            </h3>

            <p>
                Be the best, the very best !
            </p>
        </div>

        <div class="quinconce-div-right quinconce-div">
            <h3>
                Challenge a friend !
            </h3>

            <p>
                A disagreement with a friend ? Settle it here !
            </p>
        </div>
    </section>

{% endblock %}
