{% extends 'base.html.twig' %}

{% block title %}Handgames{% endblock %}

{% block body %}
    <div class="titleHome mb-5">
        <h2>Race Typer</h2>
    </div>

    <p>Emplacement du jeu</p>


    <div class="titleHome mb-5">
        <h2>Rules</h2>
    </div>

    <div>
        <p>
            This game is pretty easy ! All you need to do is type the text above and respect exactly what you are seeing. The one who finishes first wins.
        </p>

    </div>
{% endblock %}
