{% extends 'base.html.twig' %}

{% block title %} Handgames {% endblock %}

{% block body %}

<div class="titleHome mb-5">
    <h2>Profil</h2>
</div>

<section class="section-photo-profil mb-5">

    <div class="img-display">
        <img id="pp-display" src="https://i.redd.it/s0u1qmhwg6c21.jpg" alt="pp-xbox" height="100%">
    </div>

    <div class="separator"></div>

    <div class="profil-pic-choice">
        <div class="group-profil-pic">
            <div class="img-choice">
                <img src="https://i.redd.it/s0u1qmhwg6c21.jpg" alt="pp-xbox" width="100%" class="js-choice">
            </div>
            <div class="img-choice">
                <img src="https://pbs.twimg.com/media/EJ0BSc7XsAEpIKR.jpg" alt="pp-xbox" width="100%" class="js-choice">
            </div>
            <div class="img-choice">
                <img src="https://i.redd.it/cm7v4jwetbt21.png" alt="pp-xbox" width="100%" class="js-choice">
            </div>
            <div class="img-choice">
                <img src="https://pbs.twimg.com/media/EJ0BSc7XsAEpIKR.jpg" alt="pp-xbox" width="100%" class="js-choice">
            </div>
        </div>

        <div class="group-profil-pic">
            <div class="img-choice">
                <img src="https://i.redd.it/s0u1qmhwg6c21.jpg" alt="pp-xbox" width="100%" class="js-choice">
            </div>
            <div class="img-choice">
                <img src="https://pbs.twimg.com/media/EJ0BSc7XsAEpIKR.jpg" alt="pp-xbox" width="100%" class="js-choice">
            </div>
            <div class="img-choice">
                <img src="https://i.redd.it/cm7v4jwetbt21.png" alt="pp-xbox" width="100%" class="js-choice">
            </div>
            <div class="img-choice">
                <img src="https://pbs.twimg.com/media/EJ0BSc7XsAEpIKR.jpg" alt="pp-xbox" width="100%" class="js-choice">
            </div>
        </div>
    </div>

</section>

<div class="confirmation">
    <a href="#" class="bouton-confirm">Confirm</a>
</div>

{% endblock %}
