{% extends 'base.html.twig' %}

{% block title %} Handgames {% endblock %}

{% block body %}
    <div class="titleHome mb-5">
        <h2>Stats</h2>
    </div>


        <div class="row">
            <div class="col-12 d-flex justify-content-center">

                <div class="avatar-stats mb-5">
                </div>
            </div>
            <p class="level-stats mb-5">Level : {{ app.user.statistiques[0].level }}</p>
        </div>

        <div class="row mb-5">
            <div id="stats-size" class="col-12 d-flex justify-content-center">
                <div class=" stats-games stats-win">
                    <p class="stats-center">WIN {{ app.user.statistiques[0].nbrWin }}</p>
                </div>
                <div class=" stats-games stats-lose">
                    <p class="stats-center">LOSE {{ app.user.statistiques[0].nbrLose }}</p>
                </div>
                <div class=" stats-games stats-total">
                    <p class="stats-center">TOTAL GAMES {{ app.user.statistiques[0].nbrPartie }}</p>
                </div>
            </div>
        </div>

        <div class="titleHome mb-5">
            <h2>Rewards</h2>
        </div>

        <div class="rewards-container">
            {% for i in 0..15 %}
                <div class="reward-container">
                    {% include 'partial/trophee.html.twig' %}
                </div>
            {% endfor %}
        </div>


{% endblock %}