{% extends 'base.html.twig' %}

{% block title %} Handgames {% endblock %}

{% block body %}

<div class="titleHome mb-5">
    <h2>Profil</h2>
</div>

<section class="section-photo-profil mb-5">

    <div class="img-display">
        <img id="pp-display" src="{{ app.user.avatar.path }}" alt="pp-user" height="100%">
    </div>

    <div class="separator"></div>

    <div class="profil-pic-choice">
        <div class="group-profil-pic">
            {% for avatar in firstAvatarGroup %}
                <div class="img-choice">
                    <img src="{{ avatar.path }}" alt="pp-xbox" width="100%" class="js-choice">
                </div>
            {% endfor %}
        </div>

        <div class="group-profil-pic">
            {% for avatar in secondAvatarGroup %}
                <div class="img-choice">
                    <img src="{{ avatar.path }}" alt="pp-xbox" width="100%" class="js-choice">
                </div>
            {% endfor %}
        </div>
    </div>

</section>

<div class="confirmation">
    <a href="#" class="bouton-confirm">Confirm</a>
</div>

{% endblock %}
