#textGameCarousel{
  bottom: 0;
}

.border{
  border: solid;
}

.skin-flex{
  display: flex;
  justify-content: space-between;
}

.logo-header{
  clip-path: ellipse(50% 50% at 50% 50%);
  background-color: navajowhite;
  overflow: auto;
}

.login-signup-div{
  display: flex;   
  align-items: center;
}

.not-nav-link{
  flex: 1;
  max-width: fit-content;
  display: flex;
  align-items: center;
  height: 5rem;
  text-decoration: none;
  color: white;
  transition: var(--transition-speed);
}

.not-nav-link svg{
  min-width: 3rem;
  max-width: 3rem;
  margin: 0 1rem;
  transform: rotate(0deg);
  transition: transform var(--transition-speed);
}

.dummy{
  flex: 0;
  transition: flex 600ms;
}

.dropdown{
  display: none;
  align-items: center;
}

.titleHome{
  text-align: center;
}

.quinconce-div-left{
  justify-content: flex-start;
}

.quinconce-div-right{
  justify-content: flex-end;

}

.quinconce-div{
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.hovered-nav{
  width: 100%;
  transition: var(--transition-speed);
}

.div-submenu{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.div-submenu .nav-submenu:first-child:hover{
  border-radius: 0px 0px 0px 10px;
}

.div-submenu .nav-submenu:last-child:hover{
  border-radius: 10px 0px 0px 0px;
}
 
.div-Techno{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.widthTechno{
  width: 65%;
  text-align: center;
}

.hovered-nav:hover .real-nav-link{
  color: white;
}

.hovered-nav:hover .div-submenu .nav-submenu{
  color: white;
}

.img-anim{
  width: 400px;
}

.img-anim-height{
  height: 351px;
}

.relative{
  position: relative;
  z-index: -1;
}

.dropdown{
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.not-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity var(--transition-speed);
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

.close:hover{
  cursor: pointer;
}

.popup {
  margin: 90px auto;
  padding: 20px;
  background: #FFF;
  border-radius: 5px;
  position: relative;
  transition: var(--transition-speed);
  overflow: auto;
  z-index: 3;
}

.close-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.popup-actu-size{
  width: 65%;
  max-height: 82vh;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all var(--transition-speed);
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: var(--color-primary);
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

.popup-login-size {
  width: 30%;
}

.popup-signup-size {
  width: 30%;
}

.bouton:hover{
  cursor: pointer;
}

.card-actu {
  border: 4px groove var(--color-primary);
  border-radius: 40px 40px 40px 40px;
}

.img-display {
  height: 100%;
  width: auto;
}

.profil-pic-choice {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.separator{
  height: 100%;
  width: 0.1px;
  border-left: 0.25px solid black;
}

.group-profil-pic{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.img-choice{
  width: 22%;
}

.img-choice:hover{
  cursor: pointer;
}

.confirmation{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-stats {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  background-color: #7f7f7f;
  height: 166px;
  width: 166px;
}

.stats-games {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 6px outset #000000;
  margin: 2px;
  font-size: 20px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 31%;
}


.stats-win {
  border-color: lawngreen;
  background-color: lightgreen;
}

.stats-lose {
  border-color: red;
  background-color: lightcoral;
}

.stats-total {
  border-color: var(--color-primary);
  background-color: var(--color-secondary);
}

.card-content-reward:hover {
  background-color: var(--color-secondary);
  cursor: default;
}

.card-content-reward {
  background: var(--color-primary);
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: var(--transition-speed);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.div-reward-size {
  width: 85%;
}

.reward-container {
  width: 22%;
}

.rewards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.login-btn{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-form-row{
  display: flex;
  flex-direction: column;
}

#dropdown-login:hover{
  cursor: pointer;
}

#dropdown-signup:hover{
  cursor: pointer;
}

.carousel-shop {
  width: 100%;
}


.carousel-slides {
  width: 100%;
  align-items: center;
  text-align: center;
  transform-style: preserve-3d;
  overflow: hidden;
}


.carousel-arrows {
  width:50px;
  height:50px;
  top: 50%;
}

.previous-carousel-shop {
  left: -40px;
  transform: translate(-50%, -100%);

}

.next-carousel-shop {
  right: -40px;
  transform: translate(50%, -100%);
}


.carousel-slide {
  -webkit-box-shadow: 3px 3px 6px 1px rgba(0,0,0,0.3);
  -moz-box-shadow: 3px 3px 6px 1px rgba(0,0,0,0.3);
  box-shadow: 3px 3px 6px 1px rgba(0,0,0,0.3);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  transition : transformation .5s, opacité .5s, z-index .5s ;
  display: none;
}

.carousel-slide.active{
  display: block;
}

.carousel-slide:hover,
.carousel-slide:focus {
  cursor: pointer;
  transition: all 1s ease-out;
  background: linear-gradient(45deg, rgba(188,118,81,1) 9%, rgba(195,166,160,0.5998774509803921) 91%);

}

@media only screen and (min-width: 600px){
  .popup-actu-size{
    width: 75%;
  }

  .separator{
    margin-right: 1rem;
  }

  .img-display{
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 600px){
  .popup-actu-size{
    width: 85%;
  }
  .rewards-container{
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 600px){
  .login-signup-div{
    display: none;
  }

  .dropdown{
    display: flex;
  }

  .separator{
    width: 100%;
    height: 0.1px;
    border-top: 0.25px solid black;
    margin-bottom: 1rem;
  }

  .img-display {
    height: 45%;
    width: auto;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 1188px){
  .reward-container {
    width: 31%;
  }

  .popup-login-size{
    width: 33%;
  }

  .popup-signup-size{
    width: 33%;
  }
}

@media only screen and (max-width: 1000px){
  .popup-login-size{
    width: 43%;
  }
  .popup-signup-size{
    width: 43%;
  }
}

@media only screen and (max-width: 800px){
  .reward-container {
    width: 45%;
  }

  #stats-size{
    flex-direction: column;
    align-items: center;
  }

  .stats-games {
    width: 85%;
  }

  .popup-login-size{
    width: 50%;
  }
  
  .popup-signup-size{
    width: 50%;
  }
}

@media only screen and (max-width: 1100px){
  #stats-size{
    flex-direction: column;
    align-items: center;
  }

  .stats-games {
    width: 85%;
  }
}

@media only screen and (max-width: 600px){
  .reward-container {
    width: 95%;
  }

  .div-reward-size {
    width: 50%;
  }

  .stats-games {
    width: 85%;
  }

  .popup-login-size{
    width: 80%;
  }

  .popup-signup-size{
    width: 80%;
  }
}
