.logo-header{
  clip-path: ellipse(50% 50% at 50% 50%);
  background-color: navajowhite;
  overflow: auto;
}

.login-signup-div{
    display: flex;   
    align-items: center;
}

.not-nav-link{
    flex: 1;
    max-width: fit-content;
    display: flex;
    align-items: center;
    height: 5rem;
    text-decoration: none;
    color: white;
    transition: var(--transition-speed);
}

.not-nav-link svg{
    min-width: 3rem;
    max-width: 3rem;
    margin: 0 1rem;
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
}

.dummy{
    flex: 0;
    transition: flex 600ms;
}

@media only screen and (max-width: 600px){
    .login-signup-div{
        display: none;
    }
}

@media only screen and (min-width: 600px){

   
}

