.nav-item{
    width: 100%;
    display: flex;
    transition: var(--transition-speed);
}

.bg-black{
    background-color: black;
}

.nav-item:hover .real-nav-link{
    color: white;
}

.nav-item:hover{
    background-color: black;
}

#profil-small-screen{
    display: none;
}

#profil-small-screen:hover{
    cursor: pointer;
}

@media only screen and (max-width: 600px){
    #profil-small-screen{
        display: flex;
    }

    #profil-large-screen{
        display: none;
    }
}