.nav-item{
    width: 100%;
    display: flex;
    transition: var(--transition-speed);
}

.bg-black{
    background-color: black;
}

.nav-item:hover .real-nav-link{
    color: white;
}

.nav-item:hover{
    background-color: black;
}

