.navbar{
    width: 5rem;
    height: 100%;
    position: fixed;
    background-color: var(--color-primary);
    transition: width 200ms ease;
    
}

.navbar:hover{
    width: 16rem;
}

.navbar:hover .link-text{
    display: block;
}

.navbar:hover .not-nav-link svg{
    transform: rotate(-180deg);
}

.navbar:hover .hovered{
    flex: auto;
}


