.bouton-login {
  background-color: var(--color-primary);
}

.bouton-signup {
  background-color: #C3A6A0;
}

.bouton{
  text-align: center;
  text-decoration: none;
  padding: 3px;
  font-family: arial;
  font-size: 1em;
  color: #000000;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border: 0.25px solid #000000;
  box-shadow: 2px 2px 4px #a5a5a5;
  -webkit-box-shadow: 2px 2px 4px #a5a5a5;
  -moz-box-shadow: 2px 2px 4px #a5a5a5;
  width: 125px;
}

.bouton:hover{
  padding: 3px;
  color: #FFFFFF;
  border: 0.25px solid #FFFFFF;
  box-shadow: 2px 2px 4px #7f7f7f;
  -webkit-box-shadow: 2px 2px 4px #7f7f7f;
  -moz-box-shadow: 2px 2px 4px #7f7f7f;
}

.real-nav-link{
    width: 100%;
    display: flex;
    align-items: center;
    height: 5rem;
    text-decoration: none;
    color: black;
    transition: var(--transition-speed);
}

.real-nav-link:hover{
    color: white;
    background-color: black;
}

.real-nav-link svg{
    min-width: 3rem;
    max-width: 3rem;
    margin: 0 1rem;
}

.burger{
  width: 30px;
  color: black;
}

.burger:hover{
  color: black;
}


@media only screen and (max-width: 600px){
  .real-nav-link{
    justify-content: center;
  }
}

@media only screen and (min-width: 600px){
  .bouton-login{
    margin-right: 0.5rem;
  }
}

