{% extends 'base.html.twig' %}

{% block title %} Handgames {% endblock %}

{% block body %}
    <div class="titleHome mb-5">
        <h2>News</h2>
    </div>
    <div class="container">
        <div class="row">
            {% for i in 0..3 %}
            <div class="col-12 text-center mb-5 card-actu">
                {% include 'partial/actu.html.twig' %}

            </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}
