{% extends 'base.html.twig' %}

{% block title %}Handgames{% endblock %}

{% block body %}
    <div class="titleHome mb-5">
        <h2>Rock Paper Scissors</h2>
    </div>

    <section class="maxwidth d-flex choice-RPS-mode">

            <div id="div-rps-bot" class="widthauto RPS-mode-border-top-left">
                <a href="#" class="w-100 h-100 d-flex justify-content-center align-items-center link-RPS-mode">
                    <p>Play VS Bot</p>
                </a>
            </div>

            <div id="div-rps-friend" class="widthauto RPS-mode-border-top-right">
                <a href="#" class="w-100 h-100 d-flex justify-content-center align-items-center link-RPS-mode">
                    <p>Play VS Friend</p>
                </a>
            </div>

    </section>

    <section class="maxwidth d-flex mb-5 choice-RPS-mode">

            <div id="div-rps-player" class="widthauto RPS-mode-border-bottom-left">
                <a href="#" class="w-100 h-100 d-flex justify-content-center align-items-center link-RPS-mode">
                    <p>Play VS random Player</p>
                </a>
            </div>

            <div id="div-rps-ranked" class="widthauto RPS-mode-border-bottom-right">
                <a href="#" class="w-100 h-100 d-flex justify-content-center align-items-center link-RPS-mode">
                    <p>Play Ranked</p>
                </a>
            </div>

    </section>


    <div class="titleHome mb-5">
        <h2>Rules</h2>
    </div>

    <div class="img-center">
        <p>
            Oh come on ! You really need an explanation on how to play this game ? Okay okay here it goes, you can choose between 3 moves, rock paper or scissors.
            <ul>
                <li>Paper beats rock</li>
                <li>Rock beats scissors</li>
                <li>Scissors beats paper</li>
            </ul>
            If anyone plays "well" just stop being friend with them they don't deserve you, they are monsters.
        </p>

    </div>

{% endblock %}
