{% extends 'base.html.twig' %}

{% block title %}Handgames{% endblock %}

{% block body %}
    <div class="titleHome mb-5">
        <h2>Black and White hand</h2>
    </div>

    <p>Emplacement du jeu</p>


    <div class="titleHome mb-5">
        <h2>Rules</h2>
    </div>

    <div>
        <p>
            In this game, you only have two possibilities show your hand facing your palm or the other way. You usually play this game to get rid of the excess of people and leave the 2 finalists to play rock paper scissors.
        </p>

        <p>
            In order to win, you need to be the one with the type of hand less present, for example: You play black hand and the two other players white hand, you win and get automatically qualified.
        </p>
    </div>

{% endblock %}
