* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
html {
  /* on utilise toute la hauteur du navigateur */
  min-height: 100vh;
}

:root{
  font-size: 16px;
  --color-primary: #bc7651;
  --color-secondary: #c3a6a0;
  --color-error: #B22222;
  --transition-speed: 600ms;
}