<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="build/image/skins/spidermanhand.png" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title img-center">Human's hand</h5>
        <p class="card-text img-center"> Just a regular and boring hand.</p>
        <a href="#" class="btn button-skin img-center">Equiper</a>
    </div>
</div>