<div class="carousel-item">
    <a href="{{ game.path }}"><div class="carousel-img"><img src="{{ game.thumbnail }}" width="100%" height="100%" class="d-block w-100" alt="..."></div>
    </a>
    <div class="desc-game">
        <h5>{{ game.nom }}</h5>
        <p>{{ game.description }}</p>
    </div>
</div>