<div class="carousel-item">
    <a href="{{ path('rock_paper_scissors') }}"><img src="build/image/other/pierrefeuilleciseaux.jpg" class="d-block w-100" alt="..."></a>
    <div id="mediaResponsive" class="carousel-caption d-none d-md-block">
        <h5>Rock Paper Scissors</h5>
        <p>An issue with your friends ? Resolve it HERE !</p>
    </div>
</div>