<div class="carousel-item">
    <img src="build/image/other/pierrefeuilleciseaux.jpg" class="d-block w-100" alt="...">
    <div class="carousel-caption d-none d-md-block">
        <h5>Rock Paper Scissors</h5>
        <p>An issue with your friends ? Resolve it HERE !</p>
    </div>
</div>