<div class="carousel-item active">
    <img src="build/image/pierrefeuilleciseaux.jpg" class="d-block w-100" alt="...">
    <div id="textGameCarousel" class="carousel-caption d-none d-md-block">
            <h5 class="text-dark">Rock Paper Scissors</h5>
            <p class="text-dark">Resolve clashes with your friends !</p>
            <button type="button" class="btn btn-dark">Dark</button>
    </div>
</div>