 <div class="card-content-reward">
     <div class="div-reward-size">
         <img src="{{ trophee.path }}" width="100%" height="auto">
     </div>
     <p class="titre-trophee">{{ trophee.titre }}</p>
 </div>
